<growl-notification ttl="2000">
    Hello world
</growl-notification>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field offset-m3 offset-l4 col s12 m6 l4">
                <input id="login" type="text" class="validate" ng-model="user.login">
                <label for="login">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field offset-m3 offset-l4 col s12 m6 l4 ">
                <input id="password" type="password" class="validate" ng-model="user.password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <button type='submit' class='offset-m3 offset-l4 col s12 m6 l4 waves-effect waves-light btn' ng-click="login()">Login</button>
        </div>
    </form>
</div>