/* Notification */

growl-notifications {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 30px;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

/*----------------*/

/* Menu */

.side-nav {
    width: 70px !important;
}

.side-nav li {
    text-align: center;
    padding: 0 !important;
}

.side-nav a {
    text-align: center;
    padding: 0 !important;
}

.side-nav i {
    float: none !important;
    margin: 0 !important;
}

select {
    display: inline !important;
}

.table-btn {
    color: #26a69a !important;
}
